<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.mentoring/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.company.mentoring.view.user/UserListView.title"/>
        <item view="Workspace.list" title="msg://com.company.mentoring.view.workspace/workspaceListView.title"/>
        <item view="WorkspaceParticipant.list"
              title="msg://com.company.mentoring.view.workspaceparticipant/workspaceParticipantListView.title"/>
        <item view="WorkspaceDashboardView"
              title="msg://com.company.mentoring.view.workspacedashboard/workspaceDashboardView.title"/>
        <item view="Team.list" title="msg://com.company.mentoring.view.team/teamListView.title"/>
        <item view="Assignment.list" title="msg://com.company.mentoring.view.assignment/assignmentListView.title"/>
    </menu>

</menu-config>